<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
    <head>
    	<meta charset="utf-8"> 
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		 <title>VQA Toy Task</title>
    </head>

    <body>
    	<div class="container">
    		<div class="jumbotron">
	    		<h1>{{ msg }}</h1>
	    	</div>
	    	<div class="container">
	    		<div class="col-sm-6">
	    			<div class="well">
		    			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#img-change">Change Image</button>
		    			<div id="img-change" class="well collapse">
				    		<h3>Choose Image :</h3>
					    	<form action="/vqa/" method="post" enctype="multipart/form-data">
						        {% csrf_token %}  
						        <p class="btn btn-default">
						        	{{ form.image.errors }}
						        	{{ form.image }}
						        </p>
						        <div class="large-2 columns">
						          <input class="btn btn-primary" type="submit"  value="Upload Image">
						        </div>
					  		</form>
					  	</div>
					</div>

			        <div id="status-bar" class="alert alert-info">
			            	Status : <strong id="status">Idle</strong>
			        </div>

					<div class="well">
						<h3>Ask Question :</h3>
			        	<input type="text" id="question" value="What is in this image?">
			            <button id="compute" img-url="{{ image_url }}" class="btn btn-primary" type="button">
			            	Ask!
			            </button>
			            <script>
			                $('#compute').click(function(){
			                	$('#status').html('Computing...');
			                	$('#answer').hide()
			                	$('#compute').hide();
			                	document.getElementById("status-bar").className = "alert alert-warning";

			                    var image_url, question;
			                    image_url = $(this).attr("img-url");
			                    // question = $(this).attr("question");
			                    question = document.getElementById("question").value
			                    $.get('/vqa/compute_vqa/', {image_url: image_url, question: question}, function(data){
			                               $('#answer').html(data);
			                               document.getElementById("status-bar").className = "alert alert-success";
			                               $('#status').html('Completed!');
			                               $('#compute').show();
			                               $('#answer').show();
			                    });
			                });
			            </script>
			            <div id="answer" class="well alert-info">
			         		<!-- Answer Comes Here -->
			            </div>
			        </div>
			  	</div>
			  	<div class="col-sm-6">
		  			<img id="loaded-img" class="img-thumbnail" src="{% static image_url %}" alt="Upload an Image" />
		  		</div>
		  	</div>
		</div>
        
        
        

    </body>
</html>
